<mat-toolbar color="primary" class="mat-elevation-z5">

  <a href="/"><span> <img class="image" src="assets/Logo/logo.png" height="65" width="95">GoDiscovery</span></a>



  <div class="spacer"></div>
  <div *ngIf="!auth.loggedIn(); else elseBlock">
    <a mat-button href="inscription"><mat-icon>create</mat-icon>  Inscription</a>
    <a mat-raised-button color="accent" href="connexion"><mat-icon>account_circle</mat-icon>  Connexion</a>
  </div>
  <ng-template #elseBlock>
    <a mat-raised-button color="accent"  (click)="LogOut()"><mat-icon>account_circle</mat-icon>  Se déconnecter</a>
  </ng-template>

</mat-toolbar>
